<div class="contents-wrapper">
  <div class="table-of-contents" id="read">
    <!-- 学习React的一些基本知识 -->
    <p class="part">基础知识</p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 章</td>
         <td class="chapter-title">
           <a href="./basic/1-linux.html">Linux基本命令</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 2 章</td>
         <td class="chapter-title">
           <a href="./basic/1-git.html">git的一些命令操作</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 3 章</td>
         <td class="chapter-title">
           <a href="./basic/1-nvm.html">nvm安装node.js的一些基本操作</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 4 章</td>
         <td class="chapter-title">
           <a href="./basic/1-npm.html">npm的使用方法</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 5 章</td>
         <td class="chapter-title">
           <a href="./basic/1-coding.html">coding 操作</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 6 章</td>
         <td class="chapter-title">
           <a href="./basic/1-jeckyll.html">Jeckyll框架认识</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 7 章</td>
         <td class="chapter-title">
           <a href="./basic/1-webpack.html">webpack环境搭建和配置</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 8 章</td>
         <td class="chapter-title">
           <a href="./basic/2-webpack.html">webpack自动刷新和模块热加载</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 9 章</td>
         <td class="chapter-title">
           <a href="./basic/config-react.html">学习React搭建的一个基本的开发环境</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 10 章</td>
         <td class="chapter-title">
           <a href="./basic/ES6.html">ES6快速入门</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 11 章</td>
         <td class="chapter-title">
           <a href="./basic/ajax.html">创建ajax请求的几种方式</a>
         </td>
        </tr>
      </tbody>
    </table>

    <!-- React笔记 -->
    <p class="part">React</p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 章</td>
         <td class="chapter-title">
           <a href="./react/1-react.html">jsx语法基础(组件创建的方式，导入图片和css文件，css样式写法)</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 2 章</td>
         <td class="chapter-title">
           <a href="./react/2-react.html">React-state</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 3 章</td>
         <td class="chapter-title">
           <a href="./react/3-react.html">bind super()的理解</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 4 章</td>
         <td class="chapter-title">
           <a href="./react/react-demo.html">React-demo</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 5 章</td>
         <td class="chapter-title">
           <a href="./react/4-react.html">React组件之间通信</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 6 章</td>
         <td class="chapter-title">
           <a href="./react/5-react.html">React组件生命周期</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 7 章</td>
         <td class="chapter-title">
           <a href="./react/6-react.html">ref如何去使用</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 8 章</td>
         <td class="chapter-title">
           <a href="./react/7-react.html">表单</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 9 章</td>
         <td class="chapter-title">
           <a href="./react/8-react.html">路由</a>
         </td>
        </tr>
      </tbody>
    </table>

    <p class="part">react-express</p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 章</td>
         <td class="chapter-title">
           <a href="./express/react-express.html">react-express 实现前后台通信</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 2 章</td>
         <td class="chapter-title">
           <a href="./express/MongoDB.html">MongoDB如何搭建数据库</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 3 章</td>
         <td class="chapter-title">
           <a href="./express/Mongoose.html">mongoose 笔记 (如何在 JS 代码中来操作 mongodb)</a>
         </td>
        </tr>
      </tbody>
    </table>
    <!-- http -->
    <p class="part">HTTP</p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 章</td>
         <td class="chapter-title">
           <a href="./HTTP/1-http.html">HTTP的请求(request)和响应(response)</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
        <td class="chapter-index">第 2 章</td>
        <td class="chapter-title">
          <a href="./HTTP/2-http.html">使用HTTP给服务器发送数据</a>
        </td>
      </tr>
      <tr class="chapter-wrap">
       <td class="chapter-index">第 3 章</td>
       <td class="chapter-title">
         <a href="./HTTP/3-http.html">Cookie and Session</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
      <td class="chapter-index">第 4 章</td>
      <td class="chapter-title">
        <a href="./HTTP/4-session.html">前后端不分离实现登录</a>
      </td>
    </tr>
      </tbody>
    </table>
    <!-- 自学内容 -->
    <p class="part">self-study</p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 章</td>
         <td class="chapter-title">
           <a href="./self-study/git.html">项目发布到git上</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 2 章</td>
         <td class="chapter-title">
           <a href="./self-study/flexible-box.html">Flex弹性布局基础知识</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 3 章</td>
         <td class="chapter-title">
           <a href="./self-study/flex-demo.html">用flex开发一个响应式项目流程(包含 gulp 各个包的安装和使用)</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 4 章</td>
         <td class="chapter-title">
           <a href="./self-study/loading.html">同步加载，异步加载，延迟加载</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 5 章</td>
         <td class="chapter-title">
           <a href="./basic/1-gulp.html">gulp自动化工具的安装和使用</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 6 章</td>
         <td class="chapter-title">
           <a href="./self-study/question.html">JavaScript同步和异步的编程机制</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 7 章</td>
         <td class="chapter-title">
           <a href="./self-study/javascript.html">JavaScript基础进阶</a>
         </td>
        </tr>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 8 章</td>
         <td class="chapter-title">
           <a href="./self-study/pug.html">pug模板的使用</a>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
